<html>
<head>
  <link rel="stylesheet" href="../assets/static/css/main.css"/>
  <link rel="icon" href="../assets/static/images/favicon.ico"/>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="../assets/static/js/hello.js"></script>
</head>
<body>
  <img src="../assets/static/images/cng.png" height="48" width="48"/>
  <div id="CHECK">
      <h1>CHECK IN</h1>
      <form method="post" target="_blank">
          NAME:  <input type="text" name="name"><br/>
          PHONE NUMBER:  <input type="text" name="phonenumber"><br/>
	  ID NUMBER:  <input type="text" name="idnumber"><br/>
          <input type="submit" value="CHENK-IN">
      </form>
  </div>
</body>
</html>
